body {
    margin: 0px;
}


.dogs {
    display: flex;
    flex-wrap: wrap;
}

.dog-card {
    width: 30%;
    margin-right: 8px;
    margin-bottom: 50px;
}

.dog-card img {
    max-width: 100%;
}

header {
    background-color: #004175;
    border-color: #89DEEF;
    color: white;
    font: 20px "Open Sans", serif;
    border: solid;
    border-bottom-color: #89DEEF;
    border-top-color: #004175;
    border-left-color: #004175;
    border-right-color: #004175;
    padding-left: 3em;
   
}

.header-text {
    margin-left: 3%;
}

main {
    background-color: white;
    font: 16px "Open Sans", serif;
    margin-left: 8%;
    margin-right: 14%;
}

.dogs h3 {
    margin: .4rem;
}


.list-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.child-trait-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.child-trait-list li {
    font-size: 75%;
    background-color: #89DEEF;
    border-radius: 35px;
    width: fit-content;
    padding: 1px 5px;
    margin: 3px 3px; 
}

footer {
    color: white;
    display: flex;
    font: 37.5px "Oswald", sans-serif;
    background-color: #5c60da;
}

.footer-box {
    width: 33.3%;
    position: relative;
    text-align: center;
    

}

.footer-box img {
    width: 100%;
    height: 100%;
    opacity: .4;
        
}

.Footer-Image-Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
